html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #fff !important;
    color: #4c4c4c;
    font-size: 11px;
    /*min-height: 1200px;*/
}

.navbar {
    transition: 0.5s;
}

.text-orange {
    color: #e93e21;
}

.hr-border {
    height: 4px;
    background: #333;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5px;
    background: rgba(248, 80, 50, 0);
    background: -moz-linear-gradient(left, rgba(248, 80, 50, 0) 0%, rgba(239, 153, 3, 1) 51%, rgba(231, 56, 39, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248, 80, 50, 0)), color-stop(51%, rgba(239, 153, 3, 1)), color-stop(100%, rgba(231, 56, 39, 0)));
    background: -webkit-linear-gradient(left, rgba(248, 80, 50, 0) 0%, rgba(239, 153, 3, 1) 51%, rgba(231, 56, 39, 0) 100%);
    background: -o-linear-gradient(left, rgba(248, 80, 50, 0) 0%, rgba(239, 153, 3, 1) 51%, rgba(231, 56, 39, 0) 100%);
    background: -ms-linear-gradient(left, rgba(248, 80, 50, 0) 0%, rgba(239, 153, 3, 1) 51%, rgba(231, 56, 39, 0) 100%);
    background: linear-gradient(to right, rgba(248, 80, 50, 0) 0%, rgba(239, 153, 3, 1) 51%, rgba(231, 56, 39, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f85032', endColorstr='#e73827', GradientType=1);
}

#reservation {
    padding-top: 150px;
    padding-bottom: 50px;
    margin-top: -100px;
}

.nav-link {
    /*text-transform: uppercase;*/
    font-weight: 400;
    font-size: 11px;
    color: #fff !important;
}

.nav-link:hover {
    color: #e93e21 !important;
}

.header {
    color: #fff;
    margin-top: -150px;
    background: url(../images/header_2.png) no-repeat center;
    background-size: cover;
}

.header-container {
    padding-top: 200px;
    /*padding-bottom: 200px;*/
}

.newfont {
    font-family: 'Amatic SC', cursive !important;
}

.header h1 {
    font-family: "Lilita One";
    /*white-space: nowrap;*/
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    color: #e93e21;
    -webkit-font-smoothing: antialiased !important;
}

.title {
    font-family: 'Amatic SC', cursive;
    font-weight: 400;
    display: inline-block;
}

.title:before {
    position: absolute;
    content: "";
    width: 40px;
    height: 2px;
    background: #db2d2e;
    left: 50%;
    margin-left: -20px;
    bottom: 0px;
}

.header-footer {
    background: #00000094;
}

.header-footer a {
    color: #fff;
}

.order-block {
    background: url('../images/open.png') #343a40 no-repeat;
    background-size: 70px;
    color: #fff;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 1px #000;
}

.topBlock {
    background: #1e0f00;
    min-height: 250px;
}

.modal {
    overflow: auto !important;
}

.bg-white {
    background: #1e2327 !important;
    /*box-shadow: 0px 1px 3px 1px #000000;*/
}

.btnMenu {
    margin-bottom: 10px;
    display: block;
}

.btnMenu>img {
    width: 100%;
}

#selectPerhead {
    cursor: pointer;
    border: 1px solid #c4c4c4;
    background: #cfcfcf;
    background: url(../images/x.png) #cfcfcf no-repeat;
    background-position: top left;
    background-size: 35px;
    padding: 25px;
}

#selectPerhead.active {
    border: 1px solid #c4c4c4;
    background: url(../images/check.png) #95ffb1 no-repeat;
    background-position: top left;
    background-size: 35px;
}

.selectPackage {
    border: 1px solid #c4c4c4;
    background: #cfcfcf;
    padding: 25px;
}

.card {
    box-shadow: 0px 2px 3px 1px #c7c7c7;
}

.card,
.modal-content {
    color: #3a3a3a;
    background-color: #f2f1ef !important;
}

.card-header,
.modal-header {
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #343a40 !important;
    color: #fff;
}

.modal-footer {
    border-top: 1px solid #6d3800 !important;
}

.u-table {
    background: #e1e1e1;
    border: 1px solid #cbcbcb;
    margin-bottom: 4px;
    padding: 4px;
    font-size: 18px;
    cursor: pointer;
}

.u-table:hover {
    background: #c5c5c5;
}

.btn-primary {
    color: #fff;
    background-color: #e93e21;
    border-color: #e93e21;
}

.loader {
    width: 120px;
    height: 120px;
    background: url(../images/loading.gif);
    background-size: 100%;
    margin: 0 auto;
}

.plain {
    border-style: inset;
    border-top: 1px solid;
    border-bottom: 0px;
    border-bottom: none;
    border-left: none;
    margin: 4px;
    display: block;
    height: 1px;
    clear: both;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: none;
    border-color: none;
}

.btn:hover {
    background-color: #1e232700;
    border-color: #1e2327;
}

.list-group-item.active {
    background-color: #343a40 !important;
    border-color: #343a40 !important;
}

.dashboard {
    background: #636363;
    min-height: 20px;
}

.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
}

.notification {
    background: red;
    border-radius: 50%;
    width: 23px;
    text-align: center !important;
    display: inline-block;
    color: #fff !important;
}

.btn {
    border-radius: 3px;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    transition-duration: 0.3s;
    transition: all 0.3s ease-out 0s;
}

.btn:hover:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.btn:before {
    content: "";
    border-radius: 3px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1e2327;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}


.item-list {
    max-height: 200px;
    overflow: scroll;
    overflow-x: hidden;
}


.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
    background: #212529;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 1px #000;
}

.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item>div {
    text-align: center;
    padding: 5px;
    margin: 5px;
    /*background: #f1f1f1;*/
}

.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
    position: absolute;
    /*border-radius: 50%;*/
    top: 0;
    height: 100%;
    width: 10%;
    background: #00000070;
    border: none;
}

.MultiCarousel .leftLst {
    left: 0;
}

.MultiCarousel .rightLst {
    right: 0;
}

/*********footer*******************/
.kilimanjaro_area {
    position: relative;
    z-index: 1;
}

.foo_top_header_one {
    background-color: #15151e;
    color: #fff;
}

.section_padding_100_70 {
    padding-top: 100px;
    padding-bottom: 70px;
}

.foo_top_header_one {
    color: #fff;
}

.kilimanjaro_part {
    margin-bottom: 30px;
}

.foo_top_header_one .kilimanjaro_part>h5 {
    color: #fff;
}

.kilimanjaro_part h4,
.kilimanjaro_part h5 {
    margin-bottom: 30px;
}

.kilimanjaro_single_contact_info>p,
.kilimanjaro_single_contact_info>h5,
.kilimanjaro_blog_area>a,
.foo_top_header_one .kilimanjaro_part>p {
    color: rgba(255, 255, 255, .5);
}

p,
ul li,
ol li {
    font-weight: 300;
}

ul {
    margin: 0;
    padding: 0;
}

.kilimanjaro_bottom_header_one {
    background-color: #111;
}

.section_padding_50 {
    padding: 50px 0;
}

.kilimanjaro_bottom_header_one p {
    color: #fff;
    margin: 0;
}

p,
ul li,
ol li {
    font-weight: 300;
}

.kilimanjaro_bottom_header_one a {
    color: inherit;
    font-size: 14px;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

.m-top-15 {
    margin-top: 15px;
}

ul {
    margin: 0;
    padding: 0;
}

.kilimanjaro_widget>li {
    display: inline-block;
}

p,
ul li,
ol li {
    font-weight: 300;
}

ol li,
ul li {
    list-style: outside none none;
}

.kilimanjaro_widget a {
    border: 1px solid #333;
    border-radius: 6px;
    color: #888;
    display: inline-block;
    font-size: 13px;
    margin-bottom: 4px;
    padding: 7px 12px;
}

ul {
    margin: 0;
    padding: 0;
}

.kilimanjaro_links a {
    border-bottom: 1px solid #333;
    color: rgba(255, 255, 255, .5);
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.kilimanjaro_links a {
    color: rgba(255, 255, 255, .5);
    font-size: 13px;
}

top-15 {
    margin-top: 15px;
}

.foo_top_header_one .kilimanjaro_part>h5 {
    color: #fff;
}

.kilimanjaro_part h4,
.kilimanjaro_part h5 {
    margin-bottom: 30px;
}

.kilimanjaro_social_links>li {
    display: inline-block;
}

p,
ul li,
ol li {
    font-weight: 300;
}

.kilimanjaro_social_links a {
    border: 1px solid #333;
    border-radius: 6px;
    color: #888;
    display: inline-block;
    font-size: 13px;
    margin-bottom: 3px;
    padding: 7px 12px;
}

.kilimanjaro_blog_area .kilimanjaro_date {
    color: #27ae60;
    font-size: 13px;
    margin-bottom: 5px;
}

.kilimanjaro_blog_area>p {
    color: rgba(255, 255, 255, .5);
    line-height: 1.3;
    margin-bottom: 0;
}

.kilimanjaro_works>a {
    display: inline-block;
    float: left;
    position: relative;
    width: 33.33333333%;
    z-index: 1;
}

.kilimanjaro_thumb {
    left: 0;
    position: absolute;
    top: 0;
    width: 75px;
}

.kilimanjaro_links a i {
    padding-right: 10px;
}

/* :: 18.0 Footer Area CSS */

.footer_area {
    position: relative;
    z-index: 1;
}

.footer_bottom p>i,
.footer_bottom p>a:hover {
    color: #27ae60;
}

.social_links_area {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    z-index: 1;
}

.social_links_area>a:hover {
    color: #27ae60;
}

.inline-style .social_links_area>a:hover {
    background-color: transparent;
    color: #27ae60;
    border: 0px solid transparent;
}

.single_feature:hover .feature_text h4 {
    color: #27ae60;
}

.kilimanjaro_blog_area {
    border-bottom: 1px solid #333;
    margin-bottom: 15px;
    padding: 0 0 15px 90px;
    position: relative;
    z-index: 1;
}

.kilimanjaro_links a {
    border-bottom: 1px solid #333;
    color: rgba(255, 255, 255, .5);
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

/*************************
     our-menu
*************************/
.our-menu .tabs {
    padding: 0;
    font-size: 13px;
    position: relative;
    z-index: 99;
}

.tabs ul.tabs-link {
    overflow: hidden;
    margin: 0;
    padding: 0px;
    margin-bottom: 80px;
}

.tabs ul.tabs-link li {
    display: inline-block;
    position: relative;
    color: #ffffff;
    padding-right: 60px;
    font-family: 'Amatic SC', cursive;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}

.tabs ul.tabs-link li a {
    color: #fff;
    font-weight: bold;
}

.tabs ul.tabs-link.white li a {
    color: #333;
}

.tabs ul.tabs-link li:last-child {
    padding-right: 0px;
}

.tabs ul.tabs-link li i:before {
    font-size: 40px;
    padding-right: 15px;
}

.tabs ul.tabs-link li a:hover,
.our-menu .tabs ul.tabs-link li.active a {
    color: #e93e21;
}

/*tab-page*/
.tab-page .tabs ul.tabs-link {
    margin-bottom: 20px;
}

.tab-page .tabs ul.tabs-link.white li.active a {
    color: #e93e21;
}

/*our-menu dark*/
.our-menu.dark .menu-body.menu-white .menu-title h4,
.our-menu.dark .menu-body.menu-white p {
    color: #ffffff;
}

.our-menu.dark {
    position: relative;
}

.our-menu .menu-body {
    margin-bottom: 50px;
}

.our-menu.middle-img .menu-body:last-child {
    margin-bottom: 80px;
}

.belief {
    position: relative;
}

.our-menu {
    position: relative;
}

.our-menu.belief .container-fuild {
    padding: 0 50px;
}

.centre-block {
    margin-left: auto;
    margin-right: auto;
}

.special-menu .menu-body .menu-thumbnail img {
    width: 150px;
    height: 100%;
}

.our-menu .middle-image {
    position: relative;
    height: 100%;
}

.our-menu .middle-image img {
    position: absolute;
    bottom: 0;
    height: auto;
    left: 0px;
    right: 0px;
}

.light {
    position: relative;
}

/*menu default*/
.menu-body {
    text-align: center;
}

.menu-body .menu-thumbnail img {
    width: 100px;
    height: 100%;
}

.menu-body .menu-thumbnail {
    margin-bottom: 25px;
}

.menu-body .menu-title {
    margin-bottom: 20px;
}

.menu-body .menu-title h4 {
    font-family: 'Amatic SC', cursive !important;
    font-weight: bold;
    color: #fff;
}

.menu-body .menu-details .price {
    color: #e93e21;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    line-height: 40px;
    font-weight: 600;
}

.menu-details {
    width: 400px;
}

.menu-body p {
    color: #fff;
}

/*menu whitebg*/
.menu-body.menu-white .menu-title h4,
.menu-body.menu-white p {
    color: #1e2327;
}

/*menu left*/
.menu-body.menu-left {
    text-align: left;
}

.menu-body.menu-left .menu-thumbnail {
    float: left;
    margin-right: 20px;
    width: 100px;
    margin-bottom: 0;
}

.menu-body.menu-left .menu-details {
    display: table-cell;
}

.menu-body.menu-left .menu-title {
    display: block;
    border-bottom: 1px dashed #909090;
    padding-bottom: 10px;
}

.menu-body.menu-left .menu-title h4 {
    display: inline-block;
}

.menu-body.menu-left .menu-details .price {
    float: right;
    color: #e93e21;
}

/*menu right*/
.menu-body.menu-right .menu-thumbnail {
    float: right;
    margin-right: 0px;
    margin-left: 20px;
    width: 150px;
}

.menu-body.menu-right .menu-details {
    display: table-cell;
}

.menu-body.menu-right .menu-title {
    display: block;
    border-bottom: 2px dotted #909090;
    padding-bottom: 10px;
}

.menu-body.menu-right .menu-details .price {
    float: left;
}

.menu-body.menu-right .menu-title h4 {
    float: right;
}

.menu-body.menu-right .menu-description {
    text-align: right;
}

.menu-body.menu-left.simple .menu-details {
    width: 100%;
    display: table;
}

.menu-body.menu-left.simple .menu-title {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.menu-body.menu-left.simple .menu-title span {
    font-size: 22px;
}

.menu-body.menu-left.simple .menu-description p {
    font-style: italic;
    margin-top: 10px;
}

/*menu list page*/
.menu-list-bg {
    height: 250px;
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.menu-list-bg .container {
    display: table;
    height: 100%;
    position: relative;
}

.menu-list-bg .content-text {
    display: table-cell;
    vertical-align: middle;
}

.menu-list-bg .content-text h2 {
    font-size: 50px;
    line-height: 50px;
    color: #fff;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    background-color: transparent;
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.hovereffect a,
.hovereffect p {
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.hovereffect:hover a,
.hovereffect:hover p,
.hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
